@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Candal';
    src: url('./fonts/candal.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/nunito.ttf');
}

@font-face {
    font-family: 'Nunito Bold';
    src: url('./fonts/nunito-bold.ttf');
}

@font-face {
    font-family: 'Paytone One';
    src: url('./fonts/paytone-one.ttf');
}

.header-background {
    background: linear-gradient(90deg, rgba(44,129,195,1) 0%, rgba(116,203,228,1) 100%);
}

html,body {
    min-height: 100vh;
}

.flexArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .flex-item {
    display: inline-block;
  }
  
body {
    z-index: 0;
    font-family: "Nunito", sans-serif;
    background: #73C4DA radial-gradient(at bottom left, #DAECD6, #73C4DA) no-repeat;
    background-size: 100%;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Nunito Bold", sans-serif;
}

.watermark-image {
    height: 600px;
    width: 600px;
    margin-bottom: -100px;
    margin-right: -100px;
    background-image: url("/icons/bitmon-icon-black.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
}

.watermark {
    z-index: -10;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    opacity: 0.05;
}

.landing-background {
    background: rgb(0,136,226);
    background: linear-gradient(90deg, rgba(0,136,226,1) 0%, rgba(0,136,226,1) 50%, rgba(111,197,225,1) 100%);
}